# Build and cache files
__pycache__/
*.py[cod]
docs/source/_templates/
build/
.tox/
.eggs/
*.egg-info/

# Jetbrains
.idea/

# log files
*.log
.cache/
.coverage
dcc_jp2_converter/thirdparty/
dist/
flake8.txt
scripts/
